[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiohttp = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
psycopg2 = "*"
requests = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.7"
